body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.container-fluid,
.row {
  height: 100%;
}

.half-screen {
  height: 100%;
}

.colored-half {
  background: linear-gradient(180deg, #FB9090 0%, #E33A3A 56%, #B43625 100%);
}

.white-half {
  background-color: #FFFFFF;
}

.img_login {
  padding: 10px;
  margin-top: 10%;
  width: 400px;
}

.top-left-curve {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none;
}

.bottom-right-curve {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: none;
}

.btn-login {
  background-color: #EF4444;
  width: 80px;
  height: 40px;
}
.btn-login:hover {
  background-color: #f87171;
  width: 80px;
  height: 40px;
}

.login-form {
  width: 80%;
  /* Atur lebar form sesuai kebutuhan */
  max-width: 500px;
  /* Atur lebar maksimal form */
  padding: 20px;
  border-radius: 10px;
}

.login-form h2 {
  margin-bottom: 20px;
}

.login-form .form-group {
  margin-bottom: 15px;
}
.forgot-password-link {
  text-decoration: none; /* Menampilkan underline saat dihover */
}

.forgot-password-link:hover {
  text-decoration: underline; /* Menampilkan underline saat dihover */
}
